/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';


body {
      padding-top: 60px;
      font-family: 'Open Sans', sans-serif;
      background: rgb(235, 238, 243);
      }

.navbar {
      padding-top: 15px;
      height: 70px;

}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -3px;
  text-decoration: underline;



}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: #DB6161;
  text-decoration: underline;
}



.navbar-default .navbar-brand {
  color: white;
}

.navbar-form .form-control {
    display: inline-block;

    vertical-align: middle;
}

.nav-links {
  margin: 0 auto;
  color: white;
  font-size: 20px;
}



.categories {


}

.categories a{
  font-size: 20px;
  padding-top:10px;
  color: black;


}
.categories a:hover {
  color: lightblue;
  background-color: rgb(235, 238, 243) !important;
  text-decoration: none;


}


.categories ul {
  padding-left: 0;


}

.categories ul li {
  list-style-type: none;
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  margin-right: 150px;
}

.img_b {
  background-color: #fff;
  height: 450px;
  width: 374px;
  margin: 10px;
  border-radius: 6px;

}

.cimg {
  padding: 30px;
}

.title {
  text-align: center;
  padding-top: 5px;
  color: #DB6161;
  font-weight: bold;

}
.borderimg {

  margin-top: 50px;
  margin-left: -20px;
  background-color: white;
  width: 100%;
  padding: 50px;
}

.borderimg .img {
  width: 400px;
  float: left;
  text-align: center;
}

.ptitle {
  font-size: 30px;
font-weight: 700;
font-style: italic;
margin-top: 42px;
}

.pinfo ul {
  list-style: outside none none;
  font-size: 24px;
}

.pinfo p {
  font-size: 15px;
}

.cinfo {
  padding: 10px;
}

.ctitle {
  text-align: center;
  font-style: italic;
  font-size: 24px;
  padding-bottom: 5px;
  color: #DB6161;
}

.cprice {
  font-size: 18px;
}

.pred {
  color: #D11717
}

.coutlet {
  font-size: 18px;
}

.cheading {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  margin-top: 50px;
}
.wrapper {
background: white none repeat scroll 0% 0%;
margin-top: 20px;
width: 100%;
padding: 50px;
border-radius: 5px;
}


// }
//
// .sec {
//   background-color: white;
//   border-radius: 8px;
//   margin-bottom: 40px;
//   font-weight: 400;
// }
//
// .line {
//   border-color: #f84545;
// }


//
// .img {
//   margin: 0 auto;
// }
